<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >


<suite name="Full Suite">

    <listeners>
        <listener class-name="org.example.listeners.Listeners"> </listener>
        <listener class-name="org.example.listeners.AnnotationTransformer"> </listener>
    </listeners>

    <test name="NATHAN SEARCH TEST">
        <classes>
            <class name="org.example.tests.NathanMacKinnonSearchTest"/>
        </classes>
    </test> <!--- NATHAN SEARCH TEST -->

    <test name="MIKKO SEARCH TEST">
        <classes>
            <class name="org.example.tests.MikkoRantanenSearchTest"/>
        </classes>
    </test> <!--- MIKKO SEARCH TEST -->
</suite>